body{
    text-align: center;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v996-009_1-kroir4dk.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dcb55d36929676d81bb5f66b7e091fe8");
}

h1{
    color: #050f44;
    margin: 90px;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

.outer{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer div{
    height: 200px;
    width: 200px;
    margin: 5px;
    transition: 80ms;
}

.clicked{
    background-color: grey;
    border-radius: 100px;
}

#mode{
    height: 25px;
    width: 100px;
    box-shadow: 0px 0px 3px;
    margin: 10px;
}

.h1dark{
    color: white;
}

.darkmode{
    background-image: none;
    background-color: rgb(22, 28, 45);
}

#red{
    background-color:  #7fba00;
}

#green{
    background-color: #f25022;
}

#yellow{
    background-color: #00a4ef;
}

#blue{
    background-color: #ffb900;
}

